In [4]:
import pandas as pd
import numpy as np
import pyspark

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

1. Spark Dataframe Basics

    - Use the starter code above to create a pandas dataframe.
    - Convert the pandas dataframe to a spark dataframe. From this point
       forward, do all of your work with the spark dataframe, not the pandas
       dataframe.
    - Show the first 3 rows of the dataframe.
    - Show the first 7 rows of the dataframe.
    - What is the difference between `.show` and `.head`?
    - View a summary of the data using `.describe`.
    - Use `.select` to create a new dataframe with just the `n` and `abool`
       columns. View the first 5 rows of this dataframe.
    - Use `.select` to create a new dataframe with just the `group` and `abool`
       columns. View the first 5 rows of this dataframe.
    - Use `.select` to create a new dataframe with the `group` column and the
       `abool` column renamed to `a_boolean_value`. Show the first 3 rows of
       this dataframe.
    - Use `.select` to create a new dataframe with the `group` column and the
       `n` column renamed to `a_numeric_value`. Show the first 6 rows of this
       dataframe.

In [6]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

    - Show the first 3 rows of the dataframe.

In [8]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [11]:
df.head(3)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False),
 Row(n=-0.044503078338053455, group='z', abool=False)]

    - Show the first 7 rows of the dataframe.

In [10]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [9]:
df.head(7)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False),
 Row(n=-0.044503078338053455, group='z', abool=False),
 Row(n=0.45181233874578974, group='y', abool=False),
 Row(n=1.3451017084510097, group='z', abool=False),
 Row(n=0.5323378882945463, group='y', abool=False),
 Row(n=1.3501878997225267, group='z', abool=False)]

- What is the difference between `.show` and `.head`?
    - .show displays a table 
    - .head displays row by row

    - View a summary of the data using `.describe`.

In [13]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

    - Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

In [16]:
df.select(df.n, df.abool).head(5)

[Row(n=-0.712390662050588, abool=False),
 Row(n=0.753766378659703, abool=False),
 Row(n=-0.044503078338053455, abool=False),
 Row(n=0.45181233874578974, abool=False),
 Row(n=1.3451017084510097, abool=False)]

    - Use `.select` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.

In [17]:
df.select('group', 'abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

    - Use `.select` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.

In [31]:
df.select('group', df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

    - Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

In [33]:
df.select(df.group, df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

2. Column Manipulation

   - Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named `df`
   - Use `.select` to add 4 to the `n` column. Show the results.
   - Subtract 5 from the `n` column and view the results.
   - Multiply the `n` column by 2. View the results along with the original numbers.
   - Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.
   - Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.
   - What happens when you run the code below?

        ```python
        df.group + df.abool
        ```
   - What happens when you run the code below? What is the difference between this and the previous code sample?
        ```python
        df.select(df.group + df.abool)
        ```
   - Try adding various other columns together. What are the results of combining the different data types?

In [34]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [35]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [39]:
df.select(df.n + 4).show()

+------------------+
|           (n + 4)|
+------------------+
|3.1149379007131692|
| 4.072726746112778|
|  3.17248089880026|
| 3.408449078116781|
|1.8137843744202362|
| 2.569549639183047|
| 4.001182616633274|
|3.8475812944997965|
| 5.441801039148292|
|3.8150782574916233|
|3.7701022385474636|
|3.7366226992400553|
| 3.917137758688362|
| 3.614943119975514|
| 3.898948828237532|
|   4.3311542231059|
| 4.043299425816474|
|3.5500234639915056|
| 4.347198137446713|
| 5.459100088619229|
+------------------+

    - Subtract 5 from the `n` column and view the results.

In [41]:
df.select(df.n -5).show()

+-------------------+
|            (n - 5)|
+-------------------+
| -5.885062099286831|
| -4.927273253887222|
|  -5.82751910119974|
| -5.591550921883219|
| -7.186215625579764|
| -6.430450360816954|
| -4.998817383366726|
| -5.152418705500204|
| -3.558198960851709|
| -5.184921742508377|
| -5.229897761452537|
| -5.263377300759944|
| -5.082862241311638|
| -5.385056880024486|
| -5.101051171762468|
|   -4.6688457768941|
| -4.956700574183526|
| -5.449976536008494|
| -4.652801862553287|
|-3.5408999113807718|
+-------------------+

    - Multiply the `n` column by 2. View the results along with the original numbers.

In [46]:
df.select(df.n, df.n * 2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
| -0.8850620992868307| -1.7701241985736613|
| 0.07272674611277782| 0.14545349222555565|
|   -0.82751910119974|   -1.65503820239948|
|  -0.591550921883219|  -1.183101843766438|
|  -2.186215625579764|  -4.372431251159528|
| -1.4304503608169532| -2.8609007216339064|
|0.001182616633274...|0.002365233266549...|
|-0.15241870550020373|-0.30483741100040745|
|  1.4418010391482912|  2.8836020782965823|
|-0.18492174250837645| -0.3698434850167529|
| -0.2298977614525365|  -0.459795522905073|
| -0.2633773007599446| -0.5267546015198892|
|-0.08286224131163808|-0.16572448262327616|
|-0.38505688002448574| -0.7701137600489715|
|-0.10105117176246801|-0.20210234352493603|
| 0.33115422310589987|  0.6623084462117997|
| 0.04329942581647413| 0.08659885163294825|
|-0.44997653600849435| -0.8999530720169887|
|  0.3471981374467132|  0.6943962748934264|
|  1.4591000886192282|  2.9182001772384565|
+--------------------+--------------------+

      - Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

In [52]:
df.select(df.n, (df.n * (-1)).alias('n2')).show(4)

+-------------------+--------------------+
|                  n|                  n2|
+-------------------+--------------------+
|-0.8850620992868307|  0.8850620992868307|
|0.07272674611277782|-0.07272674611277782|
|  -0.82751910119974|    0.82751910119974|
| -0.591550921883219|   0.591550921883219|
+-------------------+--------------------+
only showing top 4 rows

   - Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

In [54]:
df.select(df.n, (df.n * (-1)).alias('n2'), (df.n * df.n).alias('n3')).show(5)

+-------------------+--------------------+--------------------+
|                  n|                  n2|                  n3|
+-------------------+--------------------+--------------------+
|-0.8850620992868307|  0.8850620992868307|  0.7833349195940117|
|0.07272674611277782|-0.07272674611277782|0.005289179600152444|
|  -0.82751910119974|    0.82751910119974|  0.6847878628504256|
| -0.591550921883219|   0.591550921883219| 0.34993249318088626|
| -2.186215625579764|   2.186215625579764|   4.779538761529118|
+-------------------+--------------------+--------------------+
only showing top 5 rows

   - What happens when you run the code below?

        ```python
        df.group + df.abool
        ```

In [62]:
df.group + df.abool

Column<'(group + abool)'>


   - What happens when you run the code below? What is the difference between
       this and the previous code sample?

        ```python
        df.select(df.group + df.abool)
        ```

In [63]:
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#358 as double) + abool#359), Some(org.apache.spark.sql.Column$$Lambda$3425/0x0000000801412040@64eb4466))]
+- LogicalRDD [n#357, group#358, abool#359], false


   - Try adding various other columns together. What are the results of
       combining the different data types?


3. Type casting

    1. Use the starter code above to re-create a spark dataframe.

    1. Use `.printSchema` to view the datatypes in your dataframe.

    1. Use `.dtypes` to view the datatypes in your dataframe.

    1. What is the difference between the two code samples below?

        ```python
        df.abool.cast('int')
        ```

        ```python
        df.select(df.abool.cast('int')).show()
        ```

    1. Use `.select` and `.cast` to convert the `abool` column to an integer
       type. View the results.
    1. Convert the `group` column to a integer data type and view the results.
       What happens?
    1. Convert the `n` column to a integer data type and view the results. What
       happens?
    1. Convert the `abool` column to a string data type and view the results.
       What happens?

In [66]:
df.printSchema

In [67]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [68]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [69]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    1|
|    0|
|    0|
|    1|
|    1|
|    1|
|    1|
|    0|
|    1|
|    0|
|    1|
|    1|
|    0|
|    1|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [75]:
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

In [77]:
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
| true|
|false|
|false|
| true|
| true|
| true|
| true|
|false|
| true|
|false|
| true|
| true|
|false|
| true|
|false|
|false|
| true|
|false|
| true|
+-----+

4. Built-in Functions

    1. Use the starter code above to re-create a spark dataframe.
    1. Import the necessary functions from `pyspark.sql.functions`
    1. Find the highest `n` value.
    1. Find the lowest `n` value.
    1. Find the average `n` value.
    1. Use `concat` to change the `group` column to say, e.g. "Group: x" or
       "Group: y"
    1. Use `concat` to combine the `n` and `group` columns to produce results
       that look like this: "x: -1.432" or "z: 2.352"

In [90]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [94]:
df.select(
    max(df.n),
    min(df.n),
    avg(df.n),
    mean(df.n)
).show()

+------------------+------------------+--------------------+--------------------+
|            max(n)|            min(n)|              avg(n)|              avg(n)|
+------------------+------------------+--------------------+--------------------+
|1.4591000886192282|-2.186215625579764|-0.20369490856059969|-0.20369490856059969|
+------------------+------------------+--------------------+--------------------+

22/05/19 20:15:09 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 907676 ms exceeds timeout 120000 ms
22/05/19 20:15:09 WARN SparkContext: Killing executors is not supported by current scheduler.


5. When / Otherwise

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `when` and `.otherwise` to create a column that contains the text "It
       is true" when `abool` is true and "It is false"" when `abool` is false.
    1. Create a column that contains 0 if n is less than 0, otherwise, the
       original n value.

6. Filter / Where

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `.filter` or `.where` to select just the rows where the group is `y`
       and view the results.
    1. Select just the columns where the `abool` column is false and view the
       results.
    1. Find the columns where the `group` column is *not* `y`.
    1. Find the columns where `n` is positive.
    1. Find the columns where `abool` is true and the `group` column is `z`.
    1. Find the columns where `abool` is true or the `group` column is `z`.
    1. Find the columns where `abool` is false and `n` is less than 1
    1. Find the columns where `abool` is false or `n` is less than 1

7. Sorting

    1. Use the starter code above to re-create a spark dataframe.
    1. Sort by the `n` value.
    1. Sort by the `group` value, both ascending and descending.
    1. Sort by the group value first, then, within each group, sort by `n`
       value.
    1. Sort by `abool`, `group`, and `n`. Does it matter in what order you
       specify the columns when sorting?


8. Aggregating

    1. What is the average `n` value for each group in the `group` column?
    1. What is the maximum `n` value for each group in the `group` column?
    1. What is the minimum `n` value by `abool`?
    1. What is the average `n` value for each unique combination of the `group`
       and `abool` column?


9. Spark SQL

    1. Use the starter code above to re-create a spark dataframe.
    1. Turn your dataframe into a table that can be queried with spark SQL. Name
       the table `my_df`. Answer the rest of the questions in this section with
       a spark sql query (`spark.sql`) against `my_df`. After each step, view
       the first 7 records from the dataframe.
    1. What happens if you make a SQL syntax error in your query?
    1. Write a query that shows all of the columns from your dataframe.
    1. Write a query that shows just the `n` and `abool` columns from the
       dataframe.
    1. Write a query that shows just the `n` and `group` columns. Rename the
       `group` column to `g`.
    1. Write a query that selects `n`, and creates two new columns: `n2`, the
       original `n` values halved, and `n3`: the original n values minus 1.